@use '../../../../../style/input';
@use '../../../../../style/state';

@layer ods {
  .combobox-option {
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    padding: 0 8px;
    min-height: 32px;
    color: var(--ods-color-text);

    &:hover,
    &[data-highlighted],
    &[data-highlighted]:hover {
      background-color: var(--ods-color-primary-100);
    }

    &[data-disabled] {
      @include state.ods-is-disabled();
    }

    &[data-state="checked"] {
      &:hover,
      &[data-highlighted],
      &[data-highlighted]:hover {
        background-color: var(--ods-color-primary-100);
      }
    }

    &--multiple {
      display: grid;
      grid-template-columns: max-content 1fr;
    }

    &--hidden {
      display: none;
    }
  }

  .combobox-option__highlight {
    color: var(--ods-color-primary-700, inherit);
    font-weight: bold;
  }
}
